/*  your css code here. If applicable */
table{
	width:600px;
	border:1px solid black;
	margin:30px
}
td{
	width:10px;
	height:20px;
	border:1px solid black;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
#t-image>img{
	padding:1px;
}